*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
.navbar{
    background-color: #1f2937;
    
}
.navbar .logo{
    color: #f9faf8;
    font-size: 24px;
}
 .navbar li{
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    
    
}
.navbar a{
    color: inherit;
    text-decoration: none;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar ul{
    display: flex;
}
.navbar  ul li {
    margin-left: 20px;
}
.navbar a:hover{
    color: lightblue;
}
.header{
    background-color: #1f2937;
    
}
.header h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.header p{
    font-size: 18px;
    color: #e5e7eb;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4% 0% 2% 4%;
    
}
.boxes .container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2% 0% 2% 4%;

}
.boxes h1 {
    font-size: 36px;
    font-weight: bolder;
    
}
.box{
    flex: 1;
    
    
}
.boxes h1 {
    padding: 2% 0% 0% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote .container {
    padding: 10%;
    /*margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;*/
    margin: 5% 20% 5% 20%;
    
    
}
.quoter{
    text-align: left;
    font-style: italic;
    font-size: 36px;
}
.quote {
    background-color: #e5e7eb;
    text-align: right;
    
}
.quotee{
    display: inline-block;
    
    font-weight: bold;
}
@media(max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align:  center;
    }
    .boxes .container {
        display: block;
        text-align: center;
    }
    .quote .container{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .action .container{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .footer .container{
        display: flex;

    }
   
}
button{
    background-color: #3882f6;
    padding: 5px 24px;
    border-radius: 8px;
}
.header button{
    color: #e5e7eb;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}.action button{
    color: #e5e7eb;
    border: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.action .container{
    margin-bottom: 5%;
    padding: 2% 5% 2% 5%;
    background-color: #3882f6;
    border-radius: 4px;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    
}
.action .call{
    color: #e5e7eb;
}

.footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    
}
.footer {
    padding: 2% 0% 2% 0%;
    
    background-color: #1F2937;
}
